<%= render 'layouts/nav' %>
<%= render 'add_job_modal' %>
<div class="wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="jobs">
        <h3 class="stage">Jobs</h3>
        <%= render 'jobs/partials/jobs' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="applied">
        <h3 class="stage">Applied</h3>
        <%= render 'jobs/partials/applied' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="response">
        <h3 class="stage">Response</h3>
        <%= render 'jobs/partials/response' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="interview">
        <h3 class="stage">Interview</h3>
        <%= render 'jobs/partials/interview' %>
      </div>
    </div>
  </div>
</div>
